<div class="mt-3">
    <button class="btn btn-primary mb-2" id="btn-preset" disabled><%= lang.index.apply_preset %></button>
    <button class="btn btn-primary mb-2 ms-3" id="btn-preset-export" disabled><%= lang.index.export_preset %></button>
    <button class="btn btn-primary mb-2 ms-3" id="btn-preset-delete" disabled><%= lang.index.delete_preset %></button>
</div>
<div class="mt-2">
    <button class="btn btn-primary mb-2" id="btn-preset-save" data-bs-toggle="modal" data-bs-target="#modal-preset-save"><%= lang.index.save_preset %></button>
    <button class="btn btn-primary mb-2 ms-3" id="btn-preset-load" data-bs-toggle="modal" data-bs-target="#modal-preset-import"><%= lang.index.load_preset %></button>
</div>