<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="<%= lang.lang %>">
<head>
    <%- include("partials/head_common") %>

    <meta property="og:title" content="Version History">
    <link rel="canonical" href="https://gs2randomiser.com/changelog.html">
    <link ref="alternate" hreflang="en" href="https://gs2randomiser.com/en/changelog.html">
    <link ref="alternate" hreflang="de" href="https://gs2randomiser.com/de/changelog.html">
    <link ref="alternate" hreflang="fr" href="https://gs2randomiser.com/fr/changelog.html">
    <link ref="alternate" hreflang="es" href="https://gs2randomiser.com/es/changelog.html">
    <link ref="alternate" hreflang="x-default" href="https://gs2randomiser.com/en/changelog.html">
    <title>GS2 Randomiser - Changelog</title>
</head>

<body>
    <% locals.path = "/changelog" %>
    <%- include("partials/top_nav") %>

    <main class="container-fluid">
        <div class="row mt-3 mx-lg-5">
            <div class="col-12 mx-lg-3 mb-2">
                <center>
                    <a href="/<%= lang.lang %>/index.html"><img class="logo" src="/img/gstlar-logo.webp" alt="Randomiser logo"></a>
                </center>
            </div>

            <div class="col-12 mb-4 px-lg-5">
                <div class="card mt-4">
                    <h1 class="card-header"><%= lang.versions.versions.replace("%1", "1.2") %></h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.10</h3>
                                <span>(unreleased)</span>
                                <ul class="mt-3">
                                    <li>Fixed the items in Trial Road becoming invisible due to Mimic disguises being enabled</li>
                                </ul>
                            </div>

                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.9</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "24")
                                    .replace("%s", lang.versions.num_suffixes[4])
                                    .replace("%m", lang.versions.months[10])
                                    .replace("%y", "2024")
                                %></span>
                                <ul class="mt-3">
                                    <li>Added <a href="https://archipelago.gg">Archipelago Multiworld</a> support (coming soon!)</li>
                                    <li>Added a setting to remove Mimics from the item pool</li>
                                    <ul>
                                        <li>Old presets will automatically have this enabled if they have "Show items outside chest" on</li>
                                    </ul>
                                    <li>Changed the "Show items outside chest" setting to no longer remove Mimics and disguise them instead</li>
                                    <li>Updated the settings for glitches being in logic</li>
                                    <li>Updated the randomiser logic:</li>
                                    <ul>
                                        <li>Added the new glitch requirements to all (known to me) applicable locations</li>
                                        <li>Changed the logic to now explicitly require Hover for all checks that require the Wings of Anemos</li>
                                    </ul>
                                    <li>Updated the Easier Bosses setting:</li>
                                    <ul>
                                        <li>Sentinel's HP increased from 6236 to 6836</li>
                                        <li>Sentinel's HP regen reduced from 100 to 0</li>
                                        <li>Fixed Sentinel's HP regen not being reduced with Easier Bosses enabled</li>
                                    </ul>
                                    <li>Fixed starting with a healing Psynergy or Revive doing nothing in character shuffle</li>
                                    <li>Fixed Daedalus' follow-up attack element not matching the initial attack</li>
                                </ul>
                            </div>

                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.8</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "3")
                                    .replace("%s", lang.versions.num_suffixes[3])
                                    .replace("%m", lang.versions.months[10])
                                    .replace("%y", "2024")
                                %></span>
                                <ul class="mt-3">
                                    <li>Added a missing hint for when an item is held by a shuffled character</li>
                                    <li>Updated Djinn scaling and renamed Djinn enemies to roughly indicate difficulty</li>
                                    <li>Fixed the Idejima character shuffle item being invisible with certain settings</li>
                                    <li>Fixed vanilla boat logic not accounting for Piers being needed in character shuffle</li>
                                    <li>Fixed some Kibombo cutscenes not being disabled in character shuffle</li>
                                    <li>Fixed Atteka Inlet and Contigo buildings staying locked in character shuffle</li>
                                    <li>Fixed a Djinn scaling bug where not all Jupiter Djinn were being counted</li>
                                </ul>
                            </div>

                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.7</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "26")
                                    .replace("%s", lang.versions.num_suffixes[6])
                                    .replace("%m", lang.versions.months[9])
                                    .replace("%y", "2024")
                                %></span>
                                <ul class="mt-3">
                                    <li>Added character shuffle</li>
                                    <li>Changed the Daila sanctum item to no longer be scaled up</li>
                                    <li>Updated the Easier Bosses setting:</li>
                                    <ul>
                                        <li>Typhoon Blow and Watery Grave power reduced by 10</li>
                                        <li>Sentinel's HP regen reduced from 200 to 100</li>
                                    </ul>
                                    <li>Fixed the Echo tutorial being able to permanently delete party members</li>
                                    <li>Fixed Daedalus' follow-up attack element not matching the initial attack</li>
                                    <li>Fixed some unintended tracks being included in the music shuffle</li>
                                </ul>
                            </div>

                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.6</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "22")
                                    .replace("%s", lang.versions.num_suffixes[2])
                                    .replace("%m", lang.versions.months[8])
                                    .replace("%y", "2024")
                                %></span>
                                <ul class="mt-3">
                                    <li>Added the ability to save and share custom presets on the website</li>
                                    <ul>
                                        <li>Consequently, removed most of the old default presets</li>
                                    </ul>
                                    <li>Added a setting to randomise the number of Djinn needed to access Anemos Inner Sanctum</li>
                                    <li>Added a setting to have the Anemos Inner Sanctum door always be open</li>
                                    <li>Added a setting to prevent item checks directly locked by superbosses from being key items</li>
                                    <li>Added a setting to force item checks directly locked by bosses to be key items</li>
                                    <li>Added a teleport point to Shaman Village Cave</li>
                                    <li>Moved the feature of Teleport being able to target all locations to a separate setting (on by default)</li>
                                    <li>Changed the item under the Loho lift boulder to no longer count as a hidden item</li>
                                    <li>Fixed the item in the Aqua Hydra room becoming invisible after defeating the boss</li>
                                    <li>Fixed the swamp sinking speed being incorrect in Taopo Swamp when using auto-run</li>
                                    <li>Fixed cutscene skip not affecting the cutscene after being swept out of Sea of Time</li>
                                    <li>Fixed the Atteka Cavern teleport point not placing the boat nearby</li>
                                </ul>
                            </div>

                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.5</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "25")
                                    .replace("%s", lang.versions.num_suffixes[5])
                                    .replace("%m", lang.versions.months[5])
                                    .replace("%y", "2024")
                                %></span>
                                <ul class="mt-3">
                                    <li>Added a setting to shuffle in-game music tracks</li>
                                    <li>Added a post-randomisation option to permalink seeds to stop music from being shuffled</li>
                                    <li>Added support for showing permalink descriptions on the website</li>
                                    <li>Changed some Move pillars in Treasure Isle to retain their state across area changes</li>
                                    <li>Changed some Move and Burst pillars in Yampi Desert Cave to retain their state across area changes</li>
                                    <li>Fixed a hint system bug where it would not detect duplicate hints correctly</li>
                                    <li>Fixed a bug where the items inside the Lemurian Ship were not in logic with wings start + Hover</li>
                                    <li><span style="font-size: 0.5rem">Z3MycmFuZG9taXNlci5jb20vcGVybWFsaW5rL3BhaW5fYW5kX3N1ZmZlcmluZw==</span></li>
                                </ul>
                            </div>
                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.4</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "19")
                                    .replace("%s", lang.versions.num_suffixes[9])
                                    .replace("%m", lang.versions.months[5])
                                    .replace("%y", "2024")
                                %></span>
                                <ul class="mt-3">
                                    <li>Added a setting to start with the Wings of Anemos on the Lemurian Ship</li>
                                    <li>Updated the hint system to be more helpful:</li>
                                    <ul>
                                        <li>Changed Corn Seller's single location hint to Isaac's party instead of Atteka Cavern to account for Wings start</li>
                                        <li>Changed the chances for the hint types from 50%/25%/25% to 60%/20%/20%</li>
                                        <li>Changed the sphere check for item hints to reduce the chance of redundant hints</li>
                                        <li>Added sphere checks to the other hint types to reduce redundancy there as well</li>
                                        <li>Decreased the chance of item hints picking a summon</li>
                                        <li>Decreased the chance of item hints picking the same item twice</li>
                                    </ul>
                                    <li>Changed Dehkan Plateau and Yampi Desert to be registered on the world map regardless of entrance used</li>
                                    <li>Fixed a glitch where giving the Center Prong to Obaba would always make the Trident item appear on room reload</li>
                                </ul>
                            </div>
                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.3</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "22")
                                    .replace("%s", lang.versions.num_suffixes[2])
                                    .replace("%m", lang.versions.months[9])
                                    .replace("%y", "2023")
                                %></span>
                                <ul class="mt-3">
                                    <li>Added a setting to make name-based puzzles pseudo-random instead of using Felix's name</li>
                                    <li>Added a setting to lock name-based puzzles to the name "Felix"</li>
                                    <ul>
                                        <li>This setting is enabled in the Official Race Ruleset preset</li>
                                    </ul>
                                    <li>Added a setting to manually trigger Retreat glitch by holding SELECT during confirmation</li>
                                    <li>Added an option to the Shuffle Class Psynergy setting for randomising by group while also preferring the class elements</li>
                                    <li>Updated cutscene skip to include the Large Bread events and the long cutscene in the Alhafra jail</li>
                                    <li>Updated the look of the website somewhat</li>
                                    <li>Fixed an issue with the Gabomba Statue puzzle where Kraden would disappear after specific wrong solutions</li>
                                    <li>Fixed an issue where the Idejima NPCs were causing visual corruption when playing without cutscene skip</li>
                                </ul>
                            </div>
                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.2</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "15")
                                    .replace("%s", lang.versions.num_suffixes[5])
                                    .replace("%m", lang.versions.months[6])
                                    .replace("%y", "2023")
                                %></span>
                                <ul class="mt-3">
                                    <li>Rewrote map code compression, bringing randomisation times close to what they were in v1.1</li>
                                    <li>Fixed Char not always showing the randomised Djinni's sprite</li>
                                </ul>
                            </div>
                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.1</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "1")
                                    .replace("%s", lang.versions.num_suffixes[1])
                                    .replace("%m", lang.versions.months[6])
                                    .replace("%y", "2023")
                                %></span>
                                <ul class="mt-3">
                                    <li>Added quality of life setting that reduces boss stats</li>
                                    <ul>
                                        <li>This setting is now enabled in the Easy and Official Race Ruleset presets</li>
                                    </ul>
                                    <li>Changed randomisation parameters, reducing location weight falloff to alleviate v1.2 logic feeling bad</li>
                                    <li>Changed Sunshine's dialogue to be more obvious when you have no forgable items</li>
                                    <li>Changed item data shuffling so rings/boots/shirts have +5 Defense if they are assigned no stats/effects</li>
                                    <li>Fixed bug with Djinn battle sorting where tier 1 Venus Djinn (0-3 total Djinn) were too strong</li>
                                </ul>
                            </div>
                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.2.0</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "25")
                                    .replace("%s", lang.versions.num_suffixes[5])
                                    .replace("%m", lang.versions.months[0])
                                    .replace("%y", "2023")   
                                %></span>
                                <div class="mt-3">
                                    <b>Randomiser changes</b>
                                    <ul>
                                        <li>Added major/minor item split to the item shuffle options, see Settings Info for more information</li>
                                        <li>Added help NPCs to Idejima that explain randomiser changes and settings</li>
                                        <li>Added an NPC to the Gabomba puzzle to check the solution, and removed the automatic timer</li>
                                        <li>Changed Sunshine's forge so you don't need to leave Yallam to get the item</li>
                                        <li>Changed half-buried items to no longer count as hidden (this affects Taopo, Yampi Desert Cave, Loho and Prox)</li>
                                        <li>Changed randomisation parameters:</li>
                                        <ul>
                                            <li>The randomiser now favours deeper spheres a bit more, which encourages following logic chains</li>
                                            <li>Key items are less likely to be found in empty chests so Treasure Isle is less OP</li>
                                            <li>Certain Psynergy are no longer forced to be found early when starting with the ship, for more varied early-game logic</li>
                                        </ul>
                                        <li>Improved the cutscene skip setting so most cutscenes are actually skipped instead of sped up</li>                                
                                        <li>Removed the Update option from the main menu to prevent password issues</li>
                                    </ul>
                                </div>
                                <div>
                                    <b>Website changes</b>
                                    <ul>
                                        <li>Added a dark theme to the website (which is a work in progress until I'm happy with the colours)</li>
                                        <li>Added different languages to the website: German, French and Spanish</li>
                                        <li>Renamed the setting that removes utility Psynergy from classes to avoid confusion</li>
                                        <li>Fixed bug when fetching the spoiler log with a ROM already selected during randomisation</li>
                                        <li>Various minor text changes</li>
                                    </ul>
                                </div>
                                <b>Note:</b> With this update, randomisation times have increased due to map code compression. Generating a seed may take up to 15 seconds depending on settings and server load.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <h1 class="card-header"><%= lang.versions.versions.replace("%1", "1.1") %></h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col my-3">
                                <h3 class="mb-0">v1.1.3</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "17")
                                    .replace("%s", lang.versions.num_suffixes[7])
                                    .replace("%m", lang.versions.months[4])
                                    .replace("%y", "2022")   
                                %></span>
                                <ul class="mt-3">
                                    <li>Added a setting for switching off the previously innate Avoid changes</li>
                                    <li>Added a setting for enabling Hard Mode without a cleared save</li>
                                    <li>Added a setting that halves the battle encounter rate</li>
                                    <li>Updated the settings for the Chaos prefix (no longer requires glitches)</li>
                                    <li>Fixed spoiler log to make vanilla empty chests show as empty if an item has been injected there by the randomiser</li>
                                    <li>Removed the password input prompt to prevent password-related issues</li>
                                    <li>Due to passwords being removed, the golden items are now included in the unobtainable items setting</li>
                                </ul>
                            </div>
                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.1.2</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "3")
                                    .replace("%s", lang.versions.num_suffixes[3])
                                    .replace("%m", lang.versions.months[11])
                                    .replace("%y", "2021")   
                                %></span>
                                <ul class="mt-3">
                                    <li>Added the Islet Cave OOB glitch to the Easy OOB Skips setting</li>
                                    <li>Added a setting for cheaper or fixed sanctum revival costs</li>
                                    <li>Added a setting for shuffling weapon attack and armour defense</li>
                                    <li>Added a setting for disabling curses on equipment</li>
                                    <li>Fixed the Vanilla boat setting being incorrect</li>
                                    <li>Fixed hint NPCs not liking the number 6 and freaking out about it</li>
                                    <li>Fixed certain text lines being loaded incorrectly by the server and glitching out</li>
                                </ul>
                            </div>
                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.1.1</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "13")
                                    .replace("%s", lang.versions.num_suffixes[3])
                                    .replace("%m", lang.versions.months[10])
                                    .replace("%y", "2021")   
                                %></span>
                                <ul class="mt-3">
                                    <li>Added the option to create race seeds, which have permalinks and hidden spoiler logs</li>
                                    <li>Added the ability to set post-randomisation options and moved auto-run there</li>
                                    <li>Changed summon cost randomisation to ensure that all 1-cost summons have a unique element</li>
                                    <li>Fixed the Djinn option not appearing in combat under certain circumstances</li>
                                    <li>Fixed a concurrency bug that sometimes caused incomplete spoiler logs to be sent</li>
                                    <li>Updated the website with some minor changes to improve our search engine score</li>
                                </ul>
                            </div>
                            <hr>

                            <div class="col my-3">
                                <h3 class="mb-0">v1.1.0</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "7")
                                    .replace("%s", lang.versions.num_suffixes[7])
                                    .replace("%m", lang.versions.months[10])
                                    .replace("%y", "2021")   
                                %></span>
                                <ul class="mt-3">
                                    <li>Added advanced equipment shuffling (adds shop artifacts and forge results into the pool)</li>
                                    <li>Added settings for enemy elemental resistance shuffling and randomisation</li>
                                    <li>Added a changelog page to the website (this one!)</li>
                                    <li>Expanded the spoiler log with character stats, class stats, and shop/forge items</li>
                                    <li>Reworked the randomisation web page so settings are behind tabs and more compact</li>
                                    <li>Reverted previous randomiser changes to Retreat points, meaning Retreat from interior dungeons works like vanilla again</li>
                                    <li>Fixed djinn distribution not capping out at 9 Djinn per character</li>
                                    <li>Fixed a minor logic issue in Gaia Rock</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.versions.versions.replace("%1", "1.0") %></h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col my-3">
                                <h3 class="mb-0">v1.0.6</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "24")
                                    .replace("%s", lang.versions.num_suffixes[4])
                                    .replace("%m", lang.versions.months[4])
                                    .replace("%y", "2021")   
                                %></span>
                                <ul class="mt-3">
                                    <li>Fixed a logic issue with basic skips enabled in Shrine of the Sea God</li>
                                    <li>Fixed defense boosts on rings, boots and shirts not being shuffled</li>
                                </ul>
                            </div>

                            <hr>
                            <div class="col my-3">
                                <h3 class="mb-0">v1.0.5</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "18")
                                    .replace("%s", lang.versions.num_suffixes[8])
                                    .replace("%m", lang.versions.months[4])
                                    .replace("%y", "2021")   
                                %></span>
                                <ul class="mt-3">
                                    <li>Added a setting to include unobtainable equipment (some shirts, boots and rings) in the item pool</li>
                                    <li>Added a new preset to the website: Official Race Ruleset</li>
                                    <li>Changed the way class stats are generated so they increase linearly within a class line</li>
                                    <li>Changed the way equipment is sorted so it takes adjusted stats into consideration</li>
                                    <li>Made Lucky Medals renewable by having the Phoenix enemy line drop them</li>
                                </ul>
                            </div>

                            <hr>
                            <div class="col my-3">
                                <h3 class="mb-0">v1.0.4</h3> 
                                <span><%= lang.versions.date_format
                                    .replace("%d", "8")
                                    .replace("%s", lang.versions.num_suffixes[8])
                                    .replace("%m", lang.versions.months[4])
                                    .replace("%y", "2021")   
                                %></span>
                                <ul class="mt-3">
                                    <li>Added more variety to what empty chests can get changed into when items are displayed outside chests (Herbs, Elixirs, etc. instead of everything being Game Tickets)</li>
                                    <li>In addition, Mimics will now get changed to whatever their loot drop is</li>
                                    <li>Changed the spoiler log to show if an item was originally a Mimic or an empty chest</li>
                                    <li>Changed how critical/unleash modifiers are displayed in the item details window so it shows the exact boost</li>
                                    <li>Fixed Mimics and empty chests appearing in certain locations where they would cause issues</li>
                                    <li>Fixed attack modifiers from secondary armour effects not being shuffled</li>
                                    <li>Fixed movesets for some Djinni fights when using Djinni scaling, early-game fights should be better now</li>
                                    <li>Fixed the Patch ROM button not working in Firefox</li>
                                </ul>
                            </div>

                            <hr>
                            <div class="col my-3">
                                <h3 class="mb-0">v1.0.3</h3> 
                                <span><%= lang.versions.date_format
                                    .replace("%d", "4")
                                    .replace("%s", lang.versions.num_suffixes[4])
                                    .replace("%m", lang.versions.months[4])
                                    .replace("%y", "2021")   
                                %></span>
                                <ul class="mt-3">
                                    <li>Fixed fatal randomiser crash when trying to sort equipment with a vanilla item shuffle</li>
                                    <li>Fixed equipment, mimic and summon tablet sorting not working correctly in some locations</li>
                                    <li>Fixed logic issue where the hidden item in Moapa's basement did not require the Shaman's Rod</li>
                                </ul>
                            </div>

                            <hr>
                            <div class="col my-3">
                                <h3 class="mb-0">v1.0.2</h3>
                                <span><%= lang.versions.date_format
                                    .replace("%d", "25")
                                    .replace("%s", lang.versions.num_suffixes[5])
                                    .replace("%m", lang.versions.months[3])
                                    .replace("%y", "2021")   
                                %></span>
                                <ul class="mt-3">
                                    <li>Fixed Djinn scaling being incorrect, causing strange difficulty spikes</li>
                                </ul>
                            </div>

                            <hr>
                            <div class="col my-3">
                                <h3 class="mb-0">v1.0.1</h3> 
                                <span><%= lang.versions.date_format
                                    .replace("%d", "21")
                                    .replace("%s", lang.versions.num_suffixes[1])
                                    .replace("%m", lang.versions.months[3])
                                    .replace("%y", "2021")
                                %></span>
                                <ul class="mt-3">
                                    <li>Removed MegaROMs warning as it does not seem to cause issues</li>
                                    <li>Fixed Healing Fungus hint message not being shown</li>
                                    <li>Fixed summon tablet locations not being replaced with chests for non-summon, non-Psynergy items</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>