<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="<%= lang.lang %>">
<head>
    <%- include("partials/head_common") %>

    <meta property="og:title" content="Version History">
    <link rel="canonical" href="https://gs2randomiser.com/changelog.html">
    <link ref="alternate" hreflang="en" href="https://gs2randomiser.com/en/changelog.html">
    <link ref="alternate" hreflang="de" href="https://gs2randomiser.com/de/changelog.html">
    <link ref="alternate" hreflang="fr" href="https://gs2randomiser.com/fr/changelog.html">
    <link ref="alternate" hreflang="es" href="https://gs2randomiser.com/es/changelog.html">
    <link ref="alternate" hreflang="x-default" href="https://gs2randomiser.com/en/changelog.html">
    <title>GS2 Randomiser - Changelog</title>
</head>

<body>
    <% locals.path = "/changelog" %>
    <%- include("partials/top_nav") %>

    <main class="container-fluid">
        <div class="row mt-3 mx-lg-5">
            <div class="col-12 mx-lg-3 mb-2">
                <center>
                    <a href="/<%= lang.lang %>/index.html"><img class="logo" src="/img/gstlar-logo.webp" alt="Randomiser logo"></a>
                </center>
            </div>

            <div class="col-12 mb-4 px-lg-5">
                <div class="card mt-4">
                    <h1 class="card-header"><%= lang.versions.versions.replace("%1", "1.2") %></h1>
                    <div class="card-body">
                        <div class="row">
                            <%- include("partials/changelogs/v1_2_11") %>
                            <%- include("partials/changelogs/v1_2_10") %>
                            <%- include("partials/changelogs/v1_2_9") %>
                            <%- include("partials/changelogs/v1_2_8") %>
                            <%- include("partials/changelogs/v1_2_7") %>
                            <%- include("partials/changelogs/v1_2_6") %>
                            <%- include("partials/changelogs/v1_2_5") %>
                            <%- include("partials/changelogs/v1_2_4") %>
                            <%- include("partials/changelogs/v1_2_3") %>
                            <%- include("partials/changelogs/v1_2_2") %>
                            <%- include("partials/changelogs/v1_2_1") %>
                            <%- include("partials/changelogs/v1_2_0") %>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <h1 class="card-header"><%= lang.versions.versions.replace("%1", "1.1") %></h1>
                    <div class="card-body">
                        <div class="row">
                            <%- include("partials/changelogs/v1_1_3") %>
                            <%- include("partials/changelogs/v1_1_2") %>
                            <%- include("partials/changelogs/v1_1_1") %>
                            <%- include("partials/changelogs/v1_1_0") %>
                        </div>
                    </div>
                </div>
                
                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.versions.versions.replace("%1", "1.0") %></h2>
                    <div class="card-body">
                        <div class="row">
                            <%- include("partials/changelogs/v1_0_6") %>
                            <%- include("partials/changelogs/v1_0_5") %>
                            <%- include("partials/changelogs/v1_0_4") %>
                            <%- include("partials/changelogs/v1_0_3") %>
                            <%- include("partials/changelogs/v1_0_2") %>
                            <%- include("partials/changelogs/v1_0_1") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>