<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="en">
<head>
    <%- include("partials/head_common") %>

    <meta property="og:title" content="Settings Info">
    <link rel="canonical" href="https://gs2randomiser.com/help.html">
    <link ref="alternate" hreflang="en" href="https://gs2randomiser.com/help.html">
    <link ref="alternate" hreflang="de" href="https://gs2randomiser.com/de/help.html">
    <link ref="alternate" hreflang="fr" href="https://gs2randomiser.com/fr/help.html">
    <link ref="alternate" hreflang="es" href="https://gs2randomiser.com/es/help.html">
    <link ref="alternate" hreflang="x-default" href="https://gs2randomiser.com/help.html">
    <title>GS2 Randomiser - Settings Info</title>
</head>

<body>
    <% locals.path = "/help" %>
    <%- include("partials/top_nav") %>

    <main class="container-fluid">
        <div class="row mt-3 mx-lg-5">
            <div class="col-12 mx-lg-3 mb-2">
                <center>
                    <a href="./index.html"><img class="logo" src="/img/gstlar-logo.webp" alt="Randomiser logo"></a>
                </center>
            </div>

            <div class="col-12 mb-4 px-lg-5">
                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.help.headers.settings %></h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col mx-lg-2">
                                <h3><%= lang.settings.item_shuffle %></h3>
                                <p class="ms-3 ms-lg-4">
                                    <b><%= lang.help.item_shuffle.vanilla_name %></b> &mdash; <%= lang.help.item_shuffle.vanilla_help %><br>
                                    <b><%= lang.help.item_shuffle.key_items_name %></b> &mdash; <%= lang.help.item_shuffle.key_items_help %><br>
                                    <b><%= lang.help.item_shuffle.most_items_name %></b> &mdash; <%= lang.help.item_shuffle.most_items_help %><br>
                                    <b><%= lang.help.item_shuffle.all_items_name %></b> &mdash; <%= lang.help.item_shuffle.all_items_help %><br>
                                </p>
                                <p class="ms-3 ms-lg-4">
                                    <b><%= lang.help.item_shuffle.mod_majmin_name %></b> &mdash; <%- lang.help.item_shuffle.mod_majmin_help
                                        .replace("%1", `<i>${lang.help.item_shuffle.key_items_name}</i>`)
                                    %>
                                </p>

                                <hr>
                                <h3><%= lang.settings.psy_shuffle %></h3>
                                <p class="ms-3 ms-lg-4">
                                    <b><%= lang.help.class_psynergy.vanilla_name %></b> &mdash; <%= lang.help.class_psynergy.vanilla_help %><br>
                                    <b><%= lang.help.class_psynergy.classline_name %></b> &mdash; <%= lang.help.class_psynergy.classline_help %><br>
                                    <b><%= lang.help.class_psynergy.group_name %></b> &mdash; <%= lang.help.class_psynergy.group_help %><br>
                                    <b><%= lang.help.class_psynergy.element_name %></b> &mdash; <%= lang.help.class_psynergy.element_help %><br>
                                    <b><%= lang.help.class_psynergy.full_name %></b> &mdash; <%= lang.help.class_psynergy.full_help %>
                                </p>

                                <hr>
                                <h3><%= lang.settings.logic_ship_mode %></h3>
                                <p class="ms-3 ms-lg-4">
                                    <b><%= lang.help.lemurian_ship.vanilla_name %></b> &mdash; <%= lang.help.lemurian_ship.vanilla_help %><br>
                                    <b><%= lang.help.lemurian_ship.open_name %></b> &mdash; <%= lang.help.lemurian_ship.open_help %><br>
                                    <b><%= lang.help.lemurian_ship.unlocked_name %></b> &mdash; <%= lang.help.lemurian_ship.unlocked_help %>
                                </p>

                                <hr>
                                <h3><%= lang.help.terms.name %></h3>
                                <p class="ms-3 ms-lg-4"><%= lang.help.terms.help %></p>
                                <p class="ms-3 ms-lg-4">
                                    <b><%= lang.help.terms.equip_stats_name %></b> &mdash; <%= lang.help.terms.equip_stats_help %><br>
                                    <b><%= lang.help.terms.equip_price_name %></b> &mdash; <%= lang.help.terms.equip_price_help %><br>
                                    <b><%= lang.help.terms.djinn_power_name %></b> &mdash; <%= lang.help.terms.djinn_power_help %><br>
                                    <b><%= lang.help.terms.summon_power_name %></b> &mdash; <%= lang.help.terms.summon_power_help %><br>
                                    <b><%= lang.help.terms.psy_level_name %></b> &mdash; <%= lang.help.terms.psy_level_help %><br>
                                    <b><%= lang.help.terms.psy_power_name %></b> &mdash; <%= lang.help.terms.psy_power_help %><br>
                                    <b><%= lang.help.terms.psy_cost_name %></b> &mdash; <%= lang.help.terms.psy_cost_help %><br>
                                    <b><%= lang.help.terms.character_stats_name %></b> &mdash; <%= lang.help.terms.character_stats_help %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.help.headers.skips %></h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col mx-lg-2">
                                <h3><a><%= lang.help.skips_basic.name %></a></h3>
                                <p class="ms-3 ms-lg-4">
                                    <%= lang.help.skips_basic.help %>
                                    <ul><% lang.help.skips_basic.content.forEach((line) => { %>
                                        <li><%= line %></li>
                                    <% }) %></ul>
                                </p>

                                <hr>
                                <h3><a><%= lang.help.oob_easy.name %></a></h3>
                                <p class="ms-3 ms-lg-4">
                                    <%= lang.help.oob_easy.help %>
                                    <ul><% lang.help.oob_easy.content.forEach((line, i) => { %>
                                        <li><%= line %><% if (i == 2) { %>
                                            (<a href="https://youtu.be/tyE7rYChiyM"><%= lang.help.oob_easy.video %></a>)
                                        <% } %></li>
                                    <% }) %></ul>
                                </p>

                                <hr>
                                <h3><a><%= lang.help.oob_hard.name %></a></h3>
                                <p class="ms-3 ms-lg-4">
                                    <%= lang.help.oob_hard.help %>
                                    <ul><% lang.help.oob_hard.content.forEach((line) => { %>
                                        <li><%= line %></li>
                                    <% }) %></ul>
                                </p>

                                <hr>
                                <h3><a><%= lang.help.gaia_maze_name %></a></h3>
                                <p class="ms-3 ms-lg-4"><%= lang.help.gaia_maze_help %></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.help.headers.boss_logic %></h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mx-lg-2">
                                <p class="ms-1"><%= lang.help.boss_logic.help_1 %></p>
                                <p class="ms-1"><%= lang.help.boss_logic.help_2 %></p>
                            </div>
                            <div class="col-12 col-lg-5 mx-lg-2">
                                <p class="ms-3 ms-lg-4">
                                    <b><%= lang.help.boss_logic.bosses.chestbeaters%></b> &mdash; 0<br>
                                    <b><%= lang.help.boss_logic.bosses.king_scorp%></b> &mdash; 3<br>
                                    <b><%= lang.help.boss_logic.bosses.briggs%></b> &mdash; 6<br>
                                    <b><%= lang.help.boss_logic.bosses.aqua_hydra%></b> &mdash; 10<br>
                                    <b><%= lang.help.boss_logic.bosses.serpent%></b> &mdash;
                                        16 (<%= lang.help.boss_logic.lights.replace("%1", 4) %>) / 
                                        24 (<%= lang.help.boss_logic.lights.replace("%1", 3) %>)<br>
                                    <b><%= lang.help.boss_logic.bosses.avimander%></b> &mdash; 20<br>
                                    <b><%= lang.help.boss_logic.bosses.poseidon%></b> &mdash; 24<br>
                                </p>
                            </div>
                            <div class="col-12 col-lg-5 mx-lg-2">
                                <p class="ms-3 ms-lg-4">
                                    <b><%= lang.help.boss_logic.bosses.moapa%></b> &mdash; 28<br>
                                    <b><%= lang.help.boss_logic.bosses.flame_dragons%></b> &mdash; 48<br>
                                    <b><%= lang.help.boss_logic.bosses.doom_dragon%></b> &mdash; 56<br>
                                    <b><%= lang.help.boss_logic.bosses.star_magician%></b> &mdash; 64<br>
                                    <b><%= lang.help.boss_logic.bosses.sentinel%></b> &mdash; 64<br>
                                    <b><%= lang.help.boss_logic.bosses.valukar%></b> &mdash; 64<br>
                                    <b><%= lang.help.boss_logic.bosses.dullahan%></b> &mdash; 72<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.help.headers.hints %></h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col mx-lg-2">
                                <p class="ms-1">
                                    <%= lang.help.hint_system.help_1%>
                                    <ul>
                                        <li>50% &ndash; <%= lang.help.hint_system.help_2_item %></li>
                                        <li>25% &ndash; <%= lang.help.hint_system.help_2_area %></li>
                                        <li>25% &ndash; <%= lang.help.hint_system.help_2_loc %></li>
                                    </ul>
                                </p>
                                <p class="ms-1">
                                    <%= lang.help.hint_system.help_3%>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td><b><%= lang.help.hint_system.tr_region%></b></td>
                                                <td><b><%= lang.help.hint_system.tr_npc%></b></td>
                                                <td><b><%= lang.help.hint_system.tr_dungeon%></b></td>
                                                <td><b><%= lang.help.hint_system.tr_location%></b></td>
                                            </tr>
                                        </thead>
                                        <tbody> <% for (var i = 0; i < 6; ++i) { %>
                                            <tr>
                                                <td><%= lang.help.hint_system.regions[i] %></td>
                                                <td><%= lang.help.hint_system.npcs[i] %></td>
                                                <td><%= lang.help.hint_system.dungeons[i] %></td>
                                                <td><%= lang.help.hint_system.locations[i][0] %>, <%= lang.help.hint_system.locations[i][1] %></td>
                                            </tr>
                                        <% } %></tbody>
                                    </table>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>