<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="<%= lang.lang %>">
<head>
    <%- include("partials/head_common") %>

    <script src="/js/generate.js"></script>

    <meta property="og:title" content="Generate Seed">
    <meta name="description" content="Web-based Golden Sun: The Lost Age randomiser (or randomizer if you prefer) by Karanum. Check our Discord for updates.">
    <link rel="canonical" href="https://gs2randomiser.com">
    <link ref="alternate" hreflang="en" href="https://gs2randomiser.com/en/index.html">
    <link ref="alternate" hreflang="de" href="https://gs2randomiser.com/de/index.html">
    <link ref="alternate" hreflang="fr" href="https://gs2randomiser.com/fr/index.html">
    <link ref="alternate" hreflang="es" href="https://gs2randomiser.com/es/index.html">
    <link ref="alternate" hreflang="x-default" href="https://gs2randomiser.com/en/index.html">
    <title>Golden Sun: The Lost Age Randomiser</title>
</head>

<body>
    <% locals.path = "/" %>
    <%- include("partials/top_nav") %>

    <main class="container-fluid">
        <div class="row mt-3 mx-lg-5">
            <div class="col-12 mx-lg-3 mb-2">
                <center>
                    <img class="logo" alt="Randomiser logo" src="/img/gstlar-logo.webp">
                </center>
            </div>

            <div class="col-12 mb-4 px-lg-5">
                <div class="card mt-4">
                    <h1 class="card-header"><%= lang.index.site_name %> v<%= version %></h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col mx-lg-2">
                                <p><%= lang.index.intro %></p>
                                <p><%- lang.index.new_players
                                    .replace(/%1/g, "<a href=\"/" + lang.lang + "/help.html\">" + lang.topnav.settings + "</a>")
                                    .replace(/%2/g, "<a href=\"/" + lang.lang + "/tips.html\">" + lang.topnav.hints + "</a>")
                                    .replace(/%3/g, "<a href=\"https://discord.com/invite/QWwxrmN\">" + lang.index.discord + "</a>");
                                %></p>
                                <% if (lang.lang != "en") { %>
                                <p><%= lang.index.translation %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.index.header_generate %></h2>
                    <div class="card-body">
                        <div class="row ms-1 me-3">
                            <div class="col-12 col-md-7 col-xl-5 my-1">
                                <div class="input-group">
                                    <span class="input-group-text"><%= lang.index.generate_seed %></span>
                                    <input type="text" class="form-control" id="inp-seed">
                                </div>
                            </div>
                            <div class="col-12 col-md-5 col-xl-3 my-1">
                                <button class="btn btn-outline-primary" id="btn-seed"><%= lang.index.generate_newseed %></button>
                            </div>
                            <div class="col-12 col-md-5 col-xl-4 d-block my-1">
                                <button class="btn btn-primary ms-2 float-end" id="btn-submit-race"><%= lang.index.generate_permalink %></button>
                                <button class="btn btn-primary ms-2 float-end" id="btn-submit"><%= lang.index.generate_randomise %></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-3 px-lg-5">
                <div class="card">
                    <h2 class="card-header"><%= lang.index.header_settings %></h2>
                    <div class="card-body">
                        <div class="card">
                            <h5 class="card-header"><%= lang.index.subheader_preset %></h5>
                            <div class="card-body"> 
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><%= lang.index.preset %></label>
                                            <select class="form-select" id="inp-preset">
                                                <option value='0' selected><%= lang.presets.name.easy %></option>
                                                <option value='1'><%= lang.presets.name.intermediate %></option>
                                                <option value='2'><%= lang.presets.name.hard %></option>
                                                <option value='3'><%= lang.presets.name.vanilla %></option>
                                                <option value='4'><%= lang.presets.name.open %></option>
                                                <option value='5'><%= lang.presets.name.chaos %></option>
                                                <option value='6'><%= lang.presets.name.race %></option>
                                            </select>
                                        </div>

                                        <button class="btn btn-primary mb-2" id="btn-preset"><%= lang.index.apply %></button>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <p class="mt-1" id="p-preset"></p>
                                        <p hidden id="preset-desc-0"><%= lang.presets.desc.easy %></p>
                                        <p hidden id="preset-desc-1"><%= lang.presets.desc.intermediate %></p>
                                        <p hidden id="preset-desc-2"><%= lang.presets.desc.hard %></p>
                                        <p hidden id="preset-desc-3"><%= lang.presets.desc.vanilla %></p>
                                        <p hidden id="preset-desc-4"><%= lang.presets.desc.open %></p>
                                        <p hidden id="preset-desc-5"><%= lang.presets.desc.chaos %></p>
                                        <p hidden id="preset-desc-6"><%= lang.presets.desc.race %></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <h3 class="card-header"><%= lang.index.subheader_rando %></h3>
                            <div class="card-body"> 
                                <ul class="nav nav-tabs" id="tabs-randomisation">
                                    <li class="nav-item">
                                        <button class="nav-link active" id="tab-items" data-bs-toggle="tab" data-bs-target="#tabdiv-items"><%= lang.index.tab_items %></button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" id="tab-djinn" data-bs-toggle="tab" data-bs-target="#tabdiv-djinn"><%= lang.index.tab_djinn %></button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" id="tab-psy" data-bs-toggle="tab" data-bs-target="#tabdiv-psy"><%= lang.index.tab_psynergy %></button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" id="tab-stats" data-bs-toggle="tab" data-bs-target="#tabdiv-stats"><%= lang.index.tab_stats %></button>
                                    </li>
                                </ul>
                                <div class="tab-content mt-4">
                                    <div class="tab-pane fade show active" id="tabdiv-items">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text"><%= lang.settings.item_shuffle %></label>
                                                    <select class="form-select cache-setting" id="inp-item-shuffle">
                                                        <option value='0'><%= lang.options.item_shuffle.vanilla %></option>
                                                        <option value='1' selected><%= lang.options.item_shuffle.key %></option>
                                                        <option value='2'><%= lang.options.item_shuffle.most %></option>
                                                        <option value='10'><%= lang.options.item_shuffle.most %> <%= lang.options.item_shuffle.mod_majmin %></option>
                                                        <option value='3'><%= lang.options.item_shuffle.all %></option>
                                                        <option value='11'><%= lang.options.item_shuffle.all %> <%= lang.options.item_shuffle.mod_majmin %></option>
                                                    </select>
                                                </div>
                                            </div> 
        
                                            <div class="col-12 col-lg-6">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text"><%= lang.settings.omit_locs %></label>
                                                    <select class="form-select cache-setting" id="inp-omit">
                                                        <option value='0'><%= lang.options.omit_locs.none %></option>
                                                        <option value='1'><%= lang.options.omit_locs.anemos %></option>
                                                        <option value='2' selected><%= lang.options.omit_locs.superboss %></option>
                                                    </select>
                                                </div>
                                            </div> 
        
                                            <div class="col-12 col-lg-6">
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-gs1-items">
                                                    <label class="form-check-label"><%= lang.settings.gs1_items %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-dummy-items">
                                                    <label class="form-check-label"><%= lang.settings.dummy_items %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-adv-equip">
                                                    <label class="form-check-label"><%= lang.settings.shuffle_shops %></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-show-items" checked>
                                                    <label class="form-check-label"><%= lang.settings.no_chests %> 
                                                        <span class="tooltip-container" title="<%= lang.index.tooltips['1'] %>">
                                                            <i class="bi bi-question-circle-fill"></i>
                                                        </span>
                                                    </label>                        
                                                </div>
                                                <div class="form-check form-switch mb-3">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-no-learning" checked>
                                                    <label class="form-check-label"><%= lang.settings.utility_psy %> 
                                                        <span class="tooltip-container" title="<%= lang.index.tooltips['2'] %>">
                                                            <i class="bi bi-question-circle-fill"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                            <hr class="mt-1 mb-3">

                                            <div class="col-12 col-lg-6">
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-equip-stats">
                                                    <label class="form-check-label"><%= lang.settings.equip_adjust %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-equip-attack">
                                                    <label class="form-check-label"><%= lang.settings.weapon_attack_shuffle %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-equip-defense">
                                                    <label class="form-check-label"><%= lang.settings.armour_defense_shuffle %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-equip-cost">
                                                    <label class="form-check-label"><%= lang.settings.equip_price_adjust %></label>
                                                </div>
                                                <div class="form-check form-switch mb-3">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-equip-sort" checked>
                                                    <label class="form-check-label"><%= lang.settings.equip_sort %> 
                                                        <span class="tooltip-container" title="<%= lang.index.tooltips['3'] %>">
                                                            <i class="bi bi-question-circle-fill"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-equip-shuffle">
                                                    <label class="form-check-label"><%= lang.settings.equip_compat_random %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-equip-unleash">
                                                    <label class="form-check-label"><%= lang.settings.weapon_effect_shuffle %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-equip-effect">
                                                    <label class="form-check-label"><%= lang.settings.armour_effect_shuffle %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-equip-curse">
                                                    <label class="form-check-label"><%= lang.settings.curse_random %></label>
                                                </div>
                                                <div class="form-check form-switch mb-3">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-curse-disable">
                                                    <label class="form-check-label"><%= lang.settings.curse_remove %></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tabdiv-djinn">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-djinn-shuffle" checked>
                                                    <label class="form-check-label"><%= lang.settings.djinn_shuffle %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-djinn-stats">
                                                    <label class="form-check-label"><%= lang.settings.djinn_stats_shuffle %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-djinn-power">
                                                    <label class="form-check-label"><%= lang.settings.djinn_power_adjust %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-djinn-aoe">
                                                    <label class="form-check-label"><%= lang.settings.djinn_range_random %></label>
                                                </div>
                                                <div class="form-check form-switch mb-3">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-djinn-scale" checked>
                                                    <label class="form-check-label"><%= lang.settings.djinn_scaling %> 
                                                        <span class="tooltip-container" title="<%= lang.index.tooltips['4'] %>">
                                                            <i class="bi bi-question-circle-fill"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
        
                                            <div class="col-12 col-lg-6">
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-summon-cost">
                                                    <label class="form-check-label"><%= lang.settings.summon_cost_random %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-summon-power">
                                                    <label class="form-check-label"><%= lang.settings.summon_power_adjust %></label>
                                                </div>
                                                <div class="form-check form-switch mb-3">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-summon-sort" checked>
                                                    <label class="form-check-label"><%= lang.settings.summon_sort %> 
                                                        <span class="tooltip-container" title="<%= lang.index.tooltips['5'] %>">
                                                            <i class="bi bi-question-circle-fill"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tabdiv-psy">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text"><%= lang.settings.psy_shuffle %></label>
                                                    <select class="form-select cache-setting" id="inp-class-psynergy">
                                                        <option value='0' selected><%= lang.options.psy_shuffle.vanilla %></option>
                                                        <option value='1'><%= lang.options.psy_shuffle.class %></option>
                                                        <option value='2'><%= lang.options.psy_shuffle.group %></option>
                                                        <option value='3'><%= lang.options.psy_shuffle.element %></option>
                                                        <option value='4'><%= lang.options.psy_shuffle.full %></option>
                                                    </select>
                                                </div>
                                            </div>
        
                                            <div class="col-12 col-lg-6">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text"><%= lang.settings.psy_levels %></label>
                                                    <select class="form-select cache-setting" id="inp-class-levels">
                                                        <option value='0' selected><%= lang.options.psy_levels.vanilla %></option>
                                                        <option value='1'><%= lang.options.psy_levels.adjust %></option>
                                                        <option value='2'><%= lang.options.psy_levels.random %></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <hr class="mt-1 mb-3">

                                            <div class="col-12 col-lg-6">
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-psynergy-power">
                                                    <label class="form-check-label"><%= lang.settings.psy_power_adjust %></label>
                                                </div>
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-psynergy-cost">
                                                    <label class="form-check-label"><%= lang.settings.psy_cost_adjust %></label>
                                                </div>
                                                <div class="form-check form-switch mb-3">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-psynergy-aoe">
                                                    <label class="form-check-label"><%= lang.settings.psy_range_random %></label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                <div class="form-check form-switch mb-2">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-enemypsy-power">
                                                    <label class="form-check-label"><%= lang.settings.enemypsy_power_adjust %></label>
                                                </div>
                                                <div class="form-check form-switch mb-3">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-enemypsy-aoe">
                                                    <label class="form-check-label"><%= lang.settings.enemypsy_range_random %></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tabdiv-stats">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text"><%= lang.settings.character_stats %></label>
                                                    <select class="form-select cache-setting" id="inp-char-stats">
                                                        <option value='0' selected><%= lang.options.character_stats.vanilla %></option>
                                                        <option value='1'><%= lang.options.character_stats.shuffle %></option>
                                                        <option value='2'><%= lang.options.character_stats.adjust %></option>
                                                    </select>
                                                </div>
                                            </div>
        
                                            <div class="col-12 col-lg-6">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text"><%= lang.settings.character_element %></label>
                                                    <select class="form-select cache-setting" id="inp-char-element">
                                                        <option value='0' selected><%= lang.options.character_element.vanilla %></option>
                                                        <option value='1'><%= lang.options.character_element.shuffle %></option>
                                                        <option value='2'><%= lang.options.character_element.random %></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text"><%= lang.settings.enemy_stats %></label>
                                                    <select class="form-select cache-setting" id="inp-enemy-eres">
                                                        <option value='0' selected><%= lang.options.enemy_stats.vanilla %></option>
                                                        <option value='1'><%= lang.options.enemy_stats.shuffle %></option>
                                                        <option value='2'><%= lang.options.enemy_stats.random %></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <hr class="mt-1 mb-3">

                                            <div class="col-12 col-lg-6">
                                                <div class="form-check form-switch mb-3">
                                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-class-stats">
                                                    <label class="form-check-label"><%= lang.settings.class_stats_random %></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <h3 class="card-header"><%= lang.index.subheader_logic %></h3>
                            <div class="card-body">  
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-skips-basic">
                                            <label class="form-check-label"><%= lang.settings.skips_basic %> 
                                                <span class="tooltip-container" title="<%= lang.index.tooltips['6'] %>">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-skips-oob-easy">
                                            <label class="form-check-label"><%= lang.settings.skips_oob_easy %> 
                                                <span class="tooltip-container" title="<%= lang.index.tooltips['7'] %>">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-skips-oob-hard">
                                            <label class="form-check-label"><%= lang.settings.skips_oob_hard %> 
                                                <span class="tooltip-container" title="<%= lang.index.tooltips['12'] %>">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-skips-maze">
                                            <label class="form-check-label"><%= lang.settings.skips_gaia_maze %></label>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><%= lang.settings.logic_ship_mode %></label>
                                            <select class="form-select cache-setting" id="inp-ship">
                                                <option value='0' selected><%= lang.options.ship_mode.vanilla %></option>
                                                <option value='1'><%= lang.options.ship_mode.open %></option>
                                                <option value='2'><%= lang.options.ship_mode.unlocked %></option>
                                            </select>
                                        </div>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-boss-logic">
                                            <label class="form-check-label"><%= lang.settings.logic_bosses %> 
                                                <span class="tooltip-container" title="<%= lang.index.tooltips['8'] %>">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <h3 class="card-header"><%= lang.index.subheader_qol %></h3>
                            <div class="card-body">  
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-start-heal" checked>
                                            <label class="form-check-label"><%= lang.settings.qol_psy_healing %> 
                                                <span class="tooltip-container" title="<%= lang.index.tooltips['9'] %>">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-start-revive" checked>
                                            <label class="form-check-label"><%= lang.settings.qol_psy_revive %></label>
                                        </div>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-start-reveal">
                                            <label class="form-check-label"><%= lang.settings.qol_psy_reveal %></label>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-free-avoid" checked>
                                            <label class="form-check-label"><%= lang.settings.qol_psycost_avoid %></label>
                                        </div>
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-free-retreat" checked>
                                            <label class="form-check-label"><%= lang.settings.qol_psycost_retreat %> 
                                                <span class="tooltip-container" title="<%= lang.index.tooltips['10'] %>">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>

                                    <hr class="mt-1 mb-3">

                                    <div class="col-12 col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><%= lang.settings.qol_revive_cost %></label>
                                            <select class="form-select cache-setting" id="inp-sanc-cost">
                                                <option value='0' selected><%= lang.options.revive_cost.vanilla %></option>
                                                <option value='1'><%= lang.options.revive_cost.reduced %></option>
                                                <option value='2'><%= lang.options.revive_cost.fixed %></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6"></div>

                                    <div class="col-12 col-lg-6">
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-qol-cutscenes" checked>
                                            <label class="form-check-label"><%= lang.settings.qol_cutscene_skip %></label>
                                        </div>
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-qol-tickets" checked>
                                            <label class="form-check-label"><%= lang.settings.qol_game_tickets %></label>
                                        </div>
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-qol-hints" checked>
                                            <label class="form-check-label"><%= lang.settings.qol_item_hints %></label>
                                        </div>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-qol-fastship" checked>
                                            <label class="form-check-label"><%= lang.settings.qol_faster_ship %></label>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-patch-avoid" checked>
                                            <label class="form-check-label">
                                                <%= lang.settings.qol_avoid_toggle %>
                                                <span class="tooltip-container" title="<%= lang.index.tooltips['13'] %>">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-hard-mode">
                                            <label class="form-check-label">
                                                <%= lang.settings.qol_hard_mode %>
                                                <span class="tooltip-container" title="<%= lang.index.tooltips['14'] %>">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-halve-enc">
                                            <label class="form-check-label">
                                                <%= lang.settings.qol_half_encounters %>
                                            </label>
                                        </div>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input cache-setting" type="checkbox" id="inp-easy-boss">
                                            <label class="form-check-label">
                                                <%= lang.settings.qol_easier_bosses %>
                                            </label>
                                        </div>
                                    </div>

                                    <hr class="mt-1 mb-3">

                                    <div class="col-12 col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><%= lang.settings.scale_exp %></label>
                                            <input type="number" class="form-control cache-setting" min="1" max="15" value="1" id="inp-scale-exp">
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><%= lang.settings.scale_coins %></label>
                                            <input type="number" class="form-control cache-setting" min="1" max="15" value="1" id="inp-scale-coins">
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><%= lang.settings.starting_level %>&nbsp;
                                                <span class="tooltip-container" title="<%= lang.index.tooltips['11'] %>">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                </span>
                                            </label>
                                            <input type="number" class="form-control cache-setting" min="5" max="99" value="5" id="inp-start-levels">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </main>
</body>
</html>