<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="<%= lang.lang %>">
<head>
    <%- include("partials/head_common") %>

    <script src="/js/settings.js"></script>
    <script src="/js/generate.js"></script>

    <meta property="og:title" content="Generate Seed">
    <meta name="description" content="Web-based Golden Sun: The Lost Age randomiser (or randomizer if you prefer) by Karanum. Check our Discord for updates.">
    <link rel="canonical" href="https://gs2randomiser.com">
    <link ref="alternate" hreflang="en" href="https://gs2randomiser.com/en/index.html">
    <link ref="alternate" hreflang="de" href="https://gs2randomiser.com/de/index.html">
    <link ref="alternate" hreflang="fr" href="https://gs2randomiser.com/fr/index.html">
    <link ref="alternate" hreflang="es" href="https://gs2randomiser.com/es/index.html">
    <link ref="alternate" hreflang="x-default" href="https://gs2randomiser.com/en/index.html">
    <title>Golden Sun: The Lost Age Randomiser</title>
</head>

<body>
    <% locals.path = "/" %>
    <%- include("partials/top_nav") %>

    <main class="container-fluid">
        <div class="row mt-3 mx-lg-5">
            <div class="col-12 mx-lg-3 mb-2">
                <center>
                    <img class="logo" alt="Randomiser logo" src="/img/gstlar-logo.webp">
                </center>
            </div>

            <div class="col-12 mb-4 px-lg-5">
                <div class="card mt-4">
                    <h1 class="card-header"><%= lang.index.site_name %> v<%= version %></h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col mx-lg-2">
                                <p><%= lang.index.intro %></p>
                                <p><%- lang.index.new_players
                                    .replace(/%1/g, "<a href=\"/" + lang.lang + "/help.html\">" + lang.topnav.settings + "</a>")
                                    .replace(/%2/g, "<a href=\"/" + lang.lang + "/tips.html\">" + lang.topnav.hints + "</a>")
                                    .replace(/%3/g, "<a href=\"https://discord.com/invite/QWwxrmN\">" + lang.index.discord + "</a>");
                                %></p>
                                <% if (lang.lang != "en") { %>
                                <p><%= lang.index.translation %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.index.header_generate %></h2>
                    <div class="card-body">
                        <div class="row ms-1 me-3">
                            <div class="col-12 col-md-7 col-xl-5 my-1">
                                <div class="input-group">
                                    <span class="input-group-text"><%= lang.index.generate_seed %></span>
                                    <input type="text" class="form-control" id="inp-seed">
                                </div>
                            </div>
                            <div class="col-12 col-md-5 col-xl-3 my-1">
                                <button class="btn btn-outline-primary" id="btn-seed"><%= lang.index.generate_newseed %></button>
                            </div>
                            <div class="col-12 col-md-5 col-xl-4 d-block my-1">
                                <button class="btn btn-primary ms-2 float-end" id="btn-submit-race"><%= lang.index.generate_permalink %></button>
                                <button class="btn btn-primary ms-2 float-end" id="btn-submit"><%= lang.index.generate_randomise %></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-3 px-lg-5">
                <div class="card">
                    <h2 class="card-header"><%= lang.index.header_settings %></h2>
                    <div class="card-body">
                        <div class="card">
                            <h5 class="card-header"><%= lang.index.subheader_preset %></h5>
                            <div class="card-body"> 
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><%= lang.index.preset %></label>
                                            <select class="form-select" id="inp-preset">
                                                <option value='0' selected><%= lang.presets.name.easy %></option>
                                                <option value='1'><%= lang.presets.name.intermediate %></option>
                                                <option value='2'><%= lang.presets.name.hard %></option>
                                                <option value='3'><%= lang.presets.name.vanilla %></option>
                                                <option value='4'><%= lang.presets.name.open %></option>
                                                <option value='5'><%= lang.presets.name.chaos %></option>
                                                <option value='6'><%= lang.presets.name.race %></option>
                                            </select>
                                        </div>

                                        <button class="btn btn-primary mb-2" id="btn-preset"><%= lang.index.apply %></button>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <p class="mt-1" id="p-preset"></p>
                                        <p hidden id="preset-desc-0"><%= lang.presets.desc.easy %></p>
                                        <p hidden id="preset-desc-1"><%= lang.presets.desc.intermediate %></p>
                                        <p hidden id="preset-desc-2"><%= lang.presets.desc.hard %></p>
                                        <p hidden id="preset-desc-3"><%= lang.presets.desc.vanilla %></p>
                                        <p hidden id="preset-desc-4"><%= lang.presets.desc.open %></p>
                                        <p hidden id="preset-desc-5"><%= lang.presets.desc.chaos %></p>
                                        <p hidden id="preset-desc-6"><%= lang.presets.desc.race %></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <h3 class="card-header"><%= lang.index.subheader_rando %></h3>
                            <div class="card-body"> 
                                <ul class="nav nav-tabs" id="tabs-randomisation">
                                    <li class="nav-item">
                                        <button class="nav-link active" id="tab-items" data-bs-toggle="tab" data-bs-target="#tabdiv-items"><%= lang.index.tab_items %></button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" id="tab-djinn" data-bs-toggle="tab" data-bs-target="#tabdiv-djinn"><%= lang.index.tab_djinn %></button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" id="tab-psy" data-bs-toggle="tab" data-bs-target="#tabdiv-psy"><%= lang.index.tab_psynergy %></button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" id="tab-stats" data-bs-toggle="tab" data-bs-target="#tabdiv-stats"><%= lang.index.tab_stats %></button>
                                    </li>
                                </ul>
                                <div class="tab-content mt-4">
                                    <div class="tab-pane fade show active" id="tabdiv-items">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_dropdown', { id: 'inp-item-shuffle', label: lang.settings.item_shuffle, selected: '1', data: [
                                                    ['0', lang.options.item_shuffle.vanilla], 
                                                    ['1', lang.options.item_shuffle.key],
                                                    ['2', lang.options.item_shuffle.most], ['10', `${lang.options.item_shuffle.most} ${lang.options.item_shuffle.mod_majmin}`],
                                                    ['3', lang.options.item_shuffle.all], ['11', `${lang.options.item_shuffle.all} ${lang.options.item_shuffle.mod_majmin}`]
                                                ] }) %>
                                            </div> 
        
                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_dropdown', { id: 'inp-omit', label: lang.settings.omit_locs, selected: '2', data: [
                                                    ['0', lang.options.omit_locs.none], 
                                                    ['1', lang.options.omit_locs.anemos], 
                                                    ['2', lang.options.omit_locs.superboss]
                                                ] }) %>
                                            </div> 
        
                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_switch', { id: 'inp-gs1-items', label: lang.settings.gs1_items }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-dummy-items', label: lang.settings.dummy_items }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-adv-equip', label: lang.settings.shuffle_shops }) %>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_switch', { id: 'inp-show-items', label: lang.settings.no_chests, checked: true, tooltip: 1 }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-no-learning', label: lang.settings.utility_psy, checked: true, tooltip: 2 }) %>
                                            </div>

                                            <hr class="mt-1 mb-3">

                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_switch', { id: 'inp-equip-stats', label: lang.settings.equip_adjust }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-equip-attack', label: lang.settings.weapon_attack_shuffle }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-equip-defense', label: lang.settings.armour_defense_shuffle }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-equip-cost', label: lang.settings.equip_price_adjust }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-equip-sort', label: lang.settings.equip_sort, checked: true, margin: 3, tooltip: 3 }) %>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_switch', { id: 'inp-equip-shuffle', label: lang.settings.equip_compat_random }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-equip-unleash', label: lang.settings.weapon_effect_shuffle }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-equip-effect', label: lang.settings.armour_effect_shuffle }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-equip-curse', label: lang.settings.curse_random }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-curse-disable', label: lang.settings.curse_remove }) %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tabdiv-djinn">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_switch', { id: 'inp-djinn-shuffle', label: lang.settings.djinn_shuffle, checked: true }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-djinn-stats', label: lang.settings.djinn_stats_shuffle }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-djinn-power', label: lang.settings.djinn_power_adjust }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-djinn-aoe', label: lang.settings.djinn_range_random }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-djinn-scale', label: lang.settings.djinn_scaling, checked: true, margin: 3, tooltip: 4 }) %>
                                            </div>
        
                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_switch', { id: 'inp-summon-cost', label: lang.settings.summon_cost_random }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-summon-power', label: lang.settings.summon_power_adjust }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-summon-sort', label: lang.settings.summon_sort, checked: true, tooltip: 5 }) %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tabdiv-psy">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_dropdown', { id: 'inp-class-psynergy', label: lang.settings.psy_shuffle, selected: '0', data: [
                                                    ['0', lang.options.psy_shuffle.vanilla], 
                                                    ['1', lang.options.psy_shuffle.class], 
                                                    ['2', lang.options.psy_shuffle.group],
                                                    ['5', lang.options.psy_shuffle.group_element],
                                                    ['3', lang.options.psy_shuffle.element],
                                                    ['4', lang.options.psy_shuffle.full]
                                                ] }) %>
                                            </div>
        
                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_dropdown', { id: 'inp-class-levels', label: lang.settings.psy_levels, selected: '0', data: [
                                                    ['0', lang.options.psy_levels.vanilla], 
                                                    ['1', lang.options.psy_levels.adjust], 
                                                    ['2', lang.options.psy_levels.random]
                                                ] }) %>
                                            </div>

                                            <hr class="mt-1 mb-3">

                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_switch', { id: 'inp-psynergy-power', label: lang.settings.psy_power_adjust }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-psynergy-cost', label: lang.settings.psy_cost_adjust }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-psynergy-aoe', label: lang.settings.psy_range_random, margin: 3 }) %>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_switch', { id: 'inp-enemypsy-power', label: lang.settings.enemypsy_power_adjust }) %>
                                                <%- include('partials/setting_switch', { id: 'inp-enemypsy-aoe', label: lang.settings.enemypsy_range_random }) %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tabdiv-stats">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_dropdown', { id: 'inp-char-stats', label: lang.settings.character_stats, selected: '0', data: [
                                                    ['0', lang.options.character_stats.vanilla], 
                                                    ['1', lang.options.character_stats.shuffle], 
                                                    ['2', lang.options.character_stats.adjust]
                                                ] }) %>
                                            </div>
        
                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_dropdown', { id: 'inp-char-element', label: lang.settings.character_element, selected: '0', data: [
                                                    ['0', lang.options.character_element.vanilla], 
                                                    ['1', lang.options.character_element.shuffle], 
                                                    ['2', lang.options.character_element.random]
                                                ] }) %>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_dropdown', { id: 'inp-enemy-eres', label: lang.settings.enemy_stats, selected: '0', data: [
                                                    ['0', lang.options.enemy_stats.vanilla], 
                                                    ['1', lang.options.enemy_stats.shuffle], 
                                                    ['2', lang.options.enemy_stats.random]
                                                ] }) %>
                                            </div>

                                            <hr class="mt-1 mb-3">

                                            <div class="col-12 col-lg-6">
                                                <%- include('partials/setting_switch', { id: 'inp-class-stats', label: lang.settings.class_stats_random, margin: 3 }) %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <h3 class="card-header"><%= lang.index.subheader_logic %></h3>
                            <div class="card-body">  
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <%- include('partials/setting_switch', { id: 'inp-skips-basic', label: lang.settings.skips_basic, tooltip: 6 }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-skips-oob-easy', label: lang.settings.skips_oob_easy, tooltip: 7 }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-skips-oob-hard', label: lang.settings.skips_oob_hard, tooltip: 12 }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-skips-maze', label: lang.settings.skips_gaia_maze, margin: 3 }) %>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <%- include('partials/setting_dropdown', { id: 'inp-ship', label: lang.settings.logic_ship_mode, selected: '0', data: [
                                            ['0', lang.options.ship_mode.vanilla], 
                                            ['1', lang.options.ship_mode.open], 
                                            ['2', lang.options.ship_mode.unlocked]
                                        ] }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-boss-logic', label: lang.settings.logic_bosses, tooltip: 8 }) %>
                                    </div>

                                    <hr class="mt-1 mb-3">

                                    <div class="col-12 col-lg-6">
                                        <%- include('partials/setting_switch', { id: 'inp-random-puzzles', label: lang.settings.puzzles_random, tooltip: 16 }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-fixed-puzzles', label: lang.settings.puzzles_fixed, tooltip: 15, margin: 3 }) %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <h3 class="card-header"><%= lang.index.subheader_qol %></h3>
                            <div class="card-body">  
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <%- include('partials/setting_switch', { id: 'inp-start-heal', label: lang.settings.qol_psy_healing, checked: true, tooltip: 9 }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-start-revive', label: lang.settings.qol_psy_revive, checked: true }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-start-reveal', label: lang.settings.qol_psy_reveal, margin: 3 }) %>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <%- include('partials/setting_switch', { id: 'inp-free-avoid', label: lang.settings.qol_psycost_avoid, checked: true }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-free-retreat', label: lang.settings.qol_psycost_retreat, checked: true, tooltip: 10 }) %>
                                    </div>

                                    <hr class="mt-1 mb-3">

                                    <div class="col-12 col-lg-6">
                                        <%- include('partials/setting_dropdown', { id: 'inp-sanc-cost', label: lang.settings.qol_revive_cost, selected: '0', data: [
                                            ['0', lang.options.revive_cost.vanilla], 
                                            ['1', lang.options.revive_cost.reduced], 
                                            ['2', lang.options.revive_cost.fixed]
                                        ] }) %>
                                    </div>
                                    <div class="col-12 col-lg-6"></div>

                                    <div class="col-12 col-lg-6">
                                        <%- include('partials/setting_switch', { id: 'inp-qol-cutscenes', label: lang.settings.qol_cutscene_skip, checked: true }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-qol-tickets', label: lang.settings.qol_game_tickets, checked: true }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-qol-hints', label: lang.settings.qol_item_hints, checked: true }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-qol-fastship', label: lang.settings.qol_faster_ship, checked: true, margin: 3 }) %>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <%- include('partials/setting_switch', { id: 'inp-patch-avoid', label: lang.settings.qol_avoid_toggle, checked: true, tooltip: 13 }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-hard-mode', label: lang.settings.qol_hard_mode, tooltip: 14 }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-halve-enc', label: lang.settings.qol_half_encounters }) %>
                                        <%- include('partials/setting_switch', { id: 'inp-easy-boss', label: lang.settings.qol_easier_bosses }) %>
                                    </div>

                                    <hr class="mt-1 mb-3">

                                    <div class="col-12 col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><%= lang.settings.scale_exp %></label>
                                            <input type="number" class="form-control cache-setting" min="1" max="15" value="1" id="inp-scale-exp">
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><%= lang.settings.scale_coins %></label>
                                            <input type="number" class="form-control cache-setting" min="1" max="15" value="1" id="inp-scale-coins">
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><%= lang.settings.starting_level %>&nbsp;
                                                <span class="tooltip-container" title="<%= lang.index.tooltips['11'] %>">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                </span>
                                            </label>
                                            <input type="number" class="form-control cache-setting" min="5" max="99" value="5" id="inp-start-levels">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </main>
</body>
</html>