<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="<%= lang.lang %>">
<head>
    <%- include("partials/head_common") %>

    <link rel="stylesheet" href="/css/randomise.css">

    <script src="/js/patcher.js"></script>
    <script src="/js/randomise.js"></script>
    <script src="/js/spoiler.js"></script>

    <meta property="og:title" content="Generate Seed">
    <link rel="canonical" href="https://gs2randomiser.com/randomise.html">
    <title>GS2 Randomiser</title>
</head>

<body>
    <% locals.path = "/randomise" %>
    <%- include("partials/top_nav") %>

    <main class="container-fluid">
        <div class="row mt-3 mx-lg-5">
            <div class="col-12 mx-lg-3 mb-2">
                <center>
                    <a href="/<%= lang.lang %>/index.html"><img class="logo" src="/img/gstlar-logo.webp" alt="Randomiser logo"></a>
                </center>
            </div>

            <div class="col-12 mb-4 px-lg-5">
                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.randomised.header_settings %></h2>
                    <div class="card-body">
                        <div class="row px-lg-5 my-2">
                            <div class="col-12 my-1">
                                <div class="form-check form-switch">
                                    <input class="form-check-input cache-setting" type="checkbox" id="inp-qol-autorun">
                                    <label class="form-check-label"><%= lang.randomised.setting_autorun %></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-4 px-lg-5">
                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.randomised.header_download %></h2>
                    <div class="card-body">
                        <div class="row px-lg-5 my-2" id="div-rom">
                            <div class="col-12 my-3">
                                <div class="card">
                                    <h3 class="card-header"><%= lang.randomised.select_rom %></h3>
                                    <div class="card-body py-3 px-lg-5">
                                        <input type="file" class="form-control" id="inp-rom">
                                        <p class="ms-2 mt-1 mb-0 text-danger d-none" id="err-rom"><%= lang.randomised.invalid_rom %></p>
                                        <p class="ms-2 mt-1 mb-0 text-danger d-none" id="err-megaroms"><%= lang.randomised.megaroms %></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row px-lg-5 mt-2 mb-4" id="div-result">
                            <div class="col-12 col-lg-6 mb-1">
                                <div class="d-block">
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="<%= lang.randomised.no_rom %>">
                                        <button class="btn btn-primary me-3" id="btn-patch" disabled>
                                            <%= lang.randomised.btn_patch %>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-1">
                                <div class="d-block">
                                    <div class="ms-3 d-inline-block" id="div-spinner">
                                        <div class="spinner-border spinner-border-sm me-2"></div>
                                        <%= lang.randomised.randomising %>
                                    </div>
                                    <a type="button" class="btn btn-primary float-end" id="btn-log" disabled>
                                        <%= lang.randomised.download_log %>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="div-log">
                            <hr>
                            <%- include("partials/spoiler_log") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>