<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="<%= lang.lang %>">
<head>
    <%- include("partials/head_common") %>

    <link rel="stylesheet" href="/css/randomise.css">

    <script src="/js/patcher.js"></script>
    <script src="/js/randomise_race.js"></script>
    <script src="/js/spoiler.js"></script>

    <meta property="og:title" content="Generate Seed">
    <link rel="canonical" href="https://gs2randomiser.com/randomise_race.html">
    <title>GS2 Randomiser</title>
</head>

<body>
    <% locals.path = "/randomise_race" %>
    <%- include("partials/top_nav") %>

    <main class="container-fluid">
        <div class="row mt-3 mx-lg-5">
            <div class="col-12 mx-lg-3 mb-2">
                <center>
                    <a href="/<%= lang.lang %>/index.html"><img class="logo" src="/img/gstlar-logo.webp" alt="Randomiser logo"></a>
                </center>
            </div>

            <div class="col-12 mb-4 px-lg-5">
                <div class="card mt-4">
                    <div class="card-body">
                        <div class="row px-lg-5 mt-2 mb-4" id="div-result">
                            <div class="col-12 col-lg-9 mb-1">
                                <div class="ms-3 d-inline-block" id="div-spinner">
                                    <div class="spinner-border spinner-border-sm me-2 mt-2"></div>
                                    <%= lang.randomised.randomising %>
                                </div>
                                <div class="ms-3 d-none" id="div-info">
                                    <b><%= lang.randomised.seed %>: </b><span id="span-seed"></span><br>
                                    <b><%= lang.randomised.permalink %>: </b><span id="span-link"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 mb-1">
                                <div class="d-block">
                                    <a type="button" class="btn btn-primary float-end" id="btn-log" disabled>
                                        <%= lang.randomised.download_log %>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="div-log">
                            <hr>
                            <div class="alert alert-primary mx-lg-5 mt-4">
                                <%= lang.randomised.log_warning %>
                            </div>
                            <div class="col-12 px-lg-5 py-3">
                                <div class="card">
                                    <h3 class="card-header" data-bs-toggle="collapse" data-bs-target="#card-toggle">
                                        <i class="bi bi-caret-down-fill me-2 rot-base" id="caret-log"></i> 
                                        <%= lang.randomised.header_log %>
                                    </h3>
                                    <div class="collapse" id="card-toggle">
                                        <div class="card-body" id="card-log">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item"><a class="nav-link active" data-bs-target="#tab-spheres"><%= lang.randomised.log.tab_spheres %></a></li>
                                                <li class="nav-item"><a class="nav-link" data-bs-target="#tab-indra"><%= lang.randomised.log.tab_indra %></a></li>
                                                <li class="nav-item"><a class="nav-link" data-bs-target="#tab-osenia"><%= lang.randomised.log.tab_osenia %></a></li>
                                                <li class="nav-item"><a class="nav-link" data-bs-target="#tab-gondowan"><%= lang.randomised.log.tab_gondowan %></a></li>
                                                <li class="nav-item"><a class="nav-link" data-bs-target="#tab-angara"><%= lang.randomised.log.tab_angara %></a></li>
                                                <li class="nav-item"><a class="nav-link" data-bs-target="#tab-eastsea"><%= lang.randomised.log.tab_eastern_sea %></a></li>
                                                <li class="nav-item"><a class="nav-link" data-bs-target="#tab-westsea"><%= lang.randomised.log.tab_western_sea %></a></li>
                                                <li class="nav-item"><a class="nav-link" data-bs-target="#tab-prox"><%= lang.randomised.log.tab_prox %></a></li>
                                                <li class="nav-item"><a class="nav-link" data-bs-target="#tab-search"><%= lang.randomised.log.tab_search %></a></li>
                                            </ul>
                                            <div class="tab-content mt-1" lang="en"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>