<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="<%= lang.lang %>">
<head>
    <%- include("partials/head_common") %>

    <meta property="og:title" content="Useful Tips">
    <link rel="canonical" href="https://gs2randomiser.com/tips.html">
    <link ref="alternate" hreflang="en" href="https://gs2randomiser.com/en/tips.html">
    <link ref="alternate" hreflang="de" href="https://gs2randomiser.com/de/tips.html">
    <link ref="alternate" hreflang="fr" href="https://gs2randomiser.com/fr/tips.html">
    <link ref="alternate" hreflang="es" href="https://gs2randomiser.com/es/tips.html">
    <link ref="alternate" hreflang="x-default" href="https://gs2randomiser.com/en/tips.html">
    <title>GS2 Randomiser - Useful Tips</title>
</head>

<body>
    <% locals.path = "/tips" %>
    <%- include("partials/top_nav") %>

    <main class="container-fluid">
        <div class="row mt-3 mx-lg-5">
            <div class="col-12 mx-lg-3 mb-2">
                <center>
                    <a href="/<%= lang.lang %>/index.html"><img class="logo" src="/img/gstlar-logo.webp" alt="Randomiser logo"></a>
                </center>
            </div>

            <div class="col-12 mb-4 px-lg-5">
                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.tips.header_general %></h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col mx-lg-2">
                                <ul>
                                    <li><%= lang.tips.tip_sancwarp %></li>
                                    <li><%= lang.tips.tip_retreat %></li>
                                    <br>
                                    <li><%= lang.tips.tip_teleport %></li>
                                    <li><%= lang.tips.tip_madrawarp %></li>
                                    <br>
                                    <li><%= lang.tips.tip_avoid %></li>
                                    <li><%= lang.tips.tip_psylearn %></li>
                                    <li><%= lang.tips.tip_djinnlimit %></li>
                                    <br>
                                    <li><%= lang.tips.tip_log %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-4 px-lg-5">
                <div class="card mt-4">
                    <h2 class="card-header"><%= lang.tips.header_eml %></h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col mx-lg-2">
                                <p class="ms-1"><%= lang.tips.loc_help %></p>
                                <ul>
                                    <li><%= lang.tips.loc_ankohl %></li>
                                    <li><%= lang.tips.loc_desert_cave %></li>
                                    <li><%= lang.tips.loc_taopo %></li>
                                    <li><%= lang.tips.loc_izumo %></li>
                                    <li><%= lang.tips.loc_gondowan_settlement %></li>
                                    <li><%= lang.tips.loc_mars_entrance %></li>
                                    <li><%= lang.tips.loc_mars_upper %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>